<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Сетевой доступ и геолокация -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="${applicationName}"
        android:label="kinza"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="io.flutter.embedding.android.NormalTheme"
                       android:resource="@style/NormalTheme" />
        </activity>

        <!-- Flutter плагин-маркер -->
        <meta-data android:name="flutterEmbedding"
                   android:value="2" />

        <!-- Yandex MapKit API-key -->
        <meta-data android:name="com.yandex.android.apikey"
                   android:value="3a051a6f-cb3c-475e-9e0a-fcec8b7ce86c" />

    </application>

</manifest>